<% include("../layouts/header.ejs") %>
<h1>Forget</h1>
<%
if(typeof message !== 'undefined'){
    %>
    <h3><%= message %></h3>
    <%
}
%>
<form action="/forget" method="post">
    <input type="email" name="email" placeholder="Enter Email">
    <br><br>
    <input type="submit" value="Send Reset Link">
</form>
<% include("../layouts/footer.ejs") %>
